HELP.md
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Java
*.class
*.log

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Other
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/bin/
!**/src/test/**/bin/
!**/src/main/**/out/
!**/src/test/**/out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
